@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  padding-top: 50px;
  position: relative;
  margin: 0;
  padding-bottom: 30px;
  min-height: 100%;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
/* footer */
footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  z-index: 20;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-left: 15px;
}
.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.btn {
  margin: 5px;
  width: 150px;
}
.height {
  select {
    @extend .form-control;
  }
}
.users {
  .btn {
    margin: 0px;
    width: 70px;
  }
  .user-field {
    margin: 5px;
  }
}
.table-question {
  .btn {
    width: 70px;
  }
  td {
    width: 33%;
  }
}
thead {
  background-color: #E1E1E1;
}
.exams-index {
  margin-top: 30px;
}
.exams-index {
  .init {
    @extend .btn-primary;
    border-radius: 4px;
  }
  .uncheck {
    @extend .btn-info;
    border-radius: 4px;
  }
  .checked {
    @extend .btn-warning;
    border-radius: 4px;
  }
}
